<div class="card" *ngIf="store">
  <img class="card-img-top" [src]="store.logo">
  <div class="card-body">
    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
      alt="Thumbnail [100%x225]" style="height:180px; width: 100%; display: block;"
      src="https://i.pinimg.com/736x/f6/d0/af/f6d0af482a5a1116dbbd2fd3ff95e58c.jpg" data-holder-rendered="true">
    <h5 class="card-title text-center">{{store.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>
