<section>
  <div class="container">
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Errors</div>
            <div class="card-body py-5 mx-5">
              <div class="error-template py-1">
                <h3>Oops!</h3>
                <h3>404 Not Found</h3>
                <div class="error-details">
                  Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions py-3">
                  <a
                    href="http://www.jquery2dotnet.com"
                    class="btn btn-primary btn-md"
                    ><span class="glyphicon glyphicon-home"></span>Back Home
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
